/* fonts */
@import url('https://fonts.googleapis.com/css?family=Rochester');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');

nav.shadow.navbar.navbar-expand-sm.bg-light.navbar-light.fixed-top {
    height: 80px;
    box-shadow: none !important;
}

#logo{
    width: 15%;
}
#logo-img{
    width: 100%;
    max-width: 120px;

}
a#brand {
    position: absolute;
    left: 40%;
    font-family: rochester;
    font-size: 30px;
    padding-top: 0px;
}

a#navbardrop {
    font-family: raleway;
    font-weight: 300;
}
.dropdown-menu.show {
    font-family: raleway;
    font-weight: 300;
    border-radius: 0;
    border: 0px;
    background: #F8F9FA;
}

.searchbox{
    border: 1px solid grey;
    background-color: white;
}
input[type="text"] {
    border: 0px;
    font-family: raleway;
    padding-left: 10px;
}
input[type="submit"] {
    border: 0px;
    font-family: raleway;
    background-color: lightgrey;
    height:100%;
}

p{
    font-size: 13px;
}
input{
    font-size: 13px;
}
span{
    font-size: 13px;
}
label{
    font-size: 13px;
}
#product_img {
    height: 100vh;
    background-image: url('images/top_placeholder.png');
    background-size: cover;
    background-position: center;
}
.container{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
#productinfo{
    margin-top: 50px;
}

.left{
    float: left;
}
.right{
    float: right;
}

.carousel-indicators .active{
    background-color: black;
}
.carousel-indicators li{
    background-color: grey;
}

.carouselitem{
    max-width: 20%;
    max-height: 20%;
}

.carousel-indicators{
    position: relative;
    bottom: 0px;
    margin-bottom: 40px;
    top: 20px;
}

.text-without-border{
    border: 0px;
}

.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;

}

.number{
    border: 1px solid black;
    color: black;
    padding-left: 10px;
    margin-top: 10px;
}

.submitbutton{
    background-color: #1DAFEC;
    border: 1px solid #1DAFEC;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.label-aantal{
    margin-right: 10px;
}


.videoplayer{
    width: 47.5vw;
    height:25vw;
    max-height: 300px;
}

button.btn.btn-secondary {
    background-color: #1DAFEC;
    border: 0px;
    border-radius: 0;
    width: 40px;
    height: 40px;
}

.form-button{
    float: right;
    margin-top: -39px;
    margin-left: 3px;
}

.form-delete-button{
    float: right;
    margin-top: -39px;
    margin-left: 25px;
}

.checkout-button{
    background-color: #1DAFEC;
    border: 0;
    border-radius: 0;
    color: white;
}
.iDEAL{
    float: right;
    margin-top: -39px;
    margin-left: 25px;
}